@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Syne:wght@400;500&display=swap');


.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 999999;
    background-color: #185a66;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('images/preloader.svg');
}

body{
    margin: 0;
    padding: 0;
    max-width: 1600px;
    font-family: "Jost", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    background: #ecf5f7;
    overflow-x: hidden;
}

i, span, a {
    display: inline-block;
}

a:hover{
    color: #185a66;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-family: "Syne", sans-serif;
    font-weight: 600;
    margin: 0;
}

p {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    color: #383838;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* top header */

.header-top-area {
    padding: 10px 0;
}

.header-container{
    max-width: 1320px;
}

.green-bg {
    background: #185a66;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.header-info i {
    font-size: 18px;
    color: #f08143;
}

.header-info p {
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.header-info p span {
    font-weight: 500;
    margin-left: 8px;
}


.contact-info a {
    display: inline-block;
    background: #f08143;
    padding: 6px 24px;
    border-radius: 10px;
    color: #fff;
}

.social-icon i {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #40877A;
    border-radius: 50%;
    padding: 10px;
}


/* header-area */

.header-area {
    position: relative;
}

.header-area .navigation {
    padding: 0px 30px;
    height: 90px;
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
}

.navigation .header-container{
    margin-top: 0px;
}

.header-area .header-inner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cddadc;
    border-radius: 0 0 10px 10px;
    padding: 0 30px;
}

.header-area .header-inner-box .logo {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.logo a{
    font-size: 30px;
}

.logo img{
    width: 150px;
}


.main-menu .navbar {
    padding: 0;
}


.main-menu li.nav-item:hover > a {
    color: #f08143;
}

.main-menu li.nav-item a.active {
    color: #f08143;
}

.main-menu .sub-menu li:hover > a {
    background: #f08143;
    color: #fff;
}

.main-menu .sub-menu li a.active {
    background: #f08143;
    color: #fff;
}

.navbar-toggler-icon {
    background-image: none;
}

.main-menu li.nav-item {
    position: relative;
    margin-right: 40px;
}

.main-menu .navbar-nav .nav-link {
    font-family: "Syne", sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding: 35px 0;
    color: #185a66;
}

/* .header-area .is-sticky .main-menu li:hover .sub-menu {
    top: 90px;
} */


/* #sticky-wrapper.is-sticky{
    -webkit-animation: slideInDown 0.6s forwards;
    animation: slideInDown 0.6s forwards;
    box-shadow: 0 3px 16px -2px #ebe8e8;
} */

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 90px;
}

.main-menu li:hover .sub-menu::after {
    opacity: 1;
    visibility: visible;
}

.sub-menu::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background: #185a66;
    visibility: hidden;
    opacity: 0;
}

.navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: none;
}

.main-menu ul.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 120px;
    width: 190px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 99;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
    display: block;
    border-bottom: 1px solid #eee;
}

.main-menu .sub-menu li a {
    font-family: "Syne", sans-serif;
    display: block;
    padding: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #444;
}

.main-menu .sub-menu li:last-child {
    border-bottom: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    color: #185a66;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.header-right a:before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #185a66;
}

.header-right a i {
    font-size: 18px;
    margin-left: 8px;
}

.header-area .header_right_bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

img {
    display: inline-block;
    max-width: 100%;
}


/* hero area */

.hero-area {
    position: relative;
}

.light-bg-2 {
    background: #ecf5f7;
    ;
}

.hero-area-content {
    margin-top: 115px;
    margin-bottom: 120px;
    position: relative;
    z-index: 3;
}

.hero-area-content h3 {
    display: inline;
    position: relative;
    z-index: 1;
}

h3 {
    font-size: 36px;
    color: #061815;
}

.hero-area-content h3::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #051816;
}

.hero-area-content h3::after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #051816;
}

.hero-area-content h1 {
    margin-top: 50px;
}

h1 {
    font-size: 120px;
    line-height: 120px;
    color: #061815;
}

.hero-area-content p {
    padding-left: 465px;
    margin-top: -95px;
    padding-right: 300px;
    font-size: 20px;
}

.hero-area-content a {
    font-size: 20px;
    color: #185a66;
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

/* slides */

.single-slide-item {
    position: relative;
}

.slider-bg {
    min-height: 700px;
    position: relative;
    z-index: 1;
}
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #070707;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
}

.owl-carousel{
    position: relative;
}


.homepage-slides .owl-dots {
    display: block;
    text-align: center;
    margin: 30px;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span {
    background: none;
}

.homepage-slides .owl-dots button {
    width: 12px;
    height: 12px;
    background: #fff;
    display: inline-block;
    margin: 10px;
}

.homepage-slides .owl-dots button.active {
    background: #f08143;
}


/* client area */

.client-area {
    width: 560px;
    height: 230px;
    background: #ecf5f7;    ;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 45px;
    z-index: 99;
}

.client-area-inner {
    display: flex;
}

.client-area-title h6 {
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
    font-family: "Syne", sans-serif;
}

.help-btn {
    background: #f08143;
    padding: 20px;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 55px 0px 0px 0px;
}


/* feature section */

.feature-section {
    position: relative;
    z-index: 1;
}

.section-padding {
    padding: 120px 0;
}

.feature-section:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #fff;
}

.section-title {
    position: relative;
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #061815;
}

.section-title a {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #f08143;
    position: relative;
    z-index: 1;
}

.section-title a:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #f08143;
}

.mt-60 {
    margin-top: 60px;
}

.feature-item-wrap {
    background: #185a66;
    padding: 30px;
    padding-top: 80px;
    z-index: 1;
    transition: 0.5s;
    position: relative;
}

.feature-item-wrap .feature-icon {
    background: #185a66;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-icon img{
    width: 50%;
}

.feature-item-wrap .feature-icon::after {
    position: absolute;
    content: "";
    bottom: -2px;
    right: -2px;
    width: 100%;
    height: 100%;
    background: #f08143;
    border-radius: 50%;
    z-index: -1;
}

.feature-item-wrap:hover .feature-icon::after {
    background: #185a66;
}

.feature-item-wrap::after {
    content: "";
    position: absolute;
    right: 12px;
    bottom: 12px;
    height: 16px;
    width: 16px;
    background: #f08143;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.feature-item-wrap:hover:after {
    width: 100%;
    height: 100%;
    z-index: -2;
}


.feature-item-wrap .feature-content h4 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.feature-item-wrap .feature-content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px;
}


.feature-item-wrap:hover .feature-icon {
    background: #f08143;
}

/* service section */


.white-bg {
    background: #fff;
}

.single-service-wrap {
    max-width: calc(100% - 100px);
}   

.single-service-inner {
    border-top: 1px solid #444;
    position: relative;
    z-index: 1;
}

.single-service-inner:nth-of-type(4) {
    border-bottom: 1px solid #444;
}

.single-service-inner:nth-of-type(4) .details-link {
    bottom: 30px;
}

.single-service-inner h5{
    margin-top: 15px !important;
}

.single-service-inner h5 a {
    font-size: 30px;
    font-weight: 600;
    color: #061815;
}

.single-service-inner p {
    font-size: 18px;
    font-weight: 400;
    margin: 26px 0;
    padding-right: 50px;
}

.single-service-inner .details-link {
    background: #f08143;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.single-service-inner:hover .details-link{
    background: #185a66;
}

.single-service-inner:hover a {
    color: #f08143;
}

.single-service-inner .details-link i {
    font-size: 30px;
    color: #fff;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.single-service-inner .details-link:hover i {
    transform: rotate(0);
}

.section-title {
    position: relative;
    margin-bottom: 30px;
}

.section-title h6 {
    color: #185a66;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    border: 1px solid #185a66;
    border-radius: 25px;
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #061815;
}

.service-content-wrap p {
    font-size: 18px;
    margin: 26px 0;
}

.service-bg {
    position: relative;
}

.service-bg .more-service-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    color: #061815;
    padding: 20px;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.service-bg .more-service-btn:hover{
    color: #185a66;
}


/* counter section */

.counter-area {
    background-image: url(../img/counter_bg.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.bg-cover {
    background-repeat: no-repeat;
    width: 100%;
}

.overlay-2 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #185a66;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
}

.single-counter-box {
    text-align: center;
}

.single-counter-box p.counter-number {
    font-size: 52px;
    font-weight: 600;
    color: #f08143;
}

.single-counter-box h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: #fff;
}


/* about section */


.about-bg-one {
    min-height: 685px;
    max-width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-tag-title {
    position: absolute;
    bottom: 215px;
    left: -220px;
    transform: rotate(-90deg);
    background: rgb(255, 255, 255);
    width: 500px;
    height: auto;
    padding: 20px;
}

.about-tag-title h4 {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #061815;
}

.about-feature-list ul li {
    display: block;
    font-family: "Syne", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-feature-list ul li i {
    font-size: 13px;
    margin-right: 15px;
    color: #185a66;
    border: 1px solid #185a66;
    padding: 3px 4px;
    border-radius: 50%;
}

.about-content-wrap {
    margin-top: 90px;
}

.about-content-wrap p {
    font-size: 18px;
    margin: 30px 0;
}

.about-bg-two {
    min-height: 690px;
    margin-top: -60px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* cta section */

.cta-area {
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.pt-150 {
    padding-top: 150px;
}

.cta-area-inner h6 {
    border-color: #f08143;
    color: #f08143;
}

.section-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}

.cta-area-inner p {
    margin-top: 90px;
}

.explore-btn {
    width: 170px;
    height: 170px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    left: 110px;
    bottom: 160px;
    transition: 0.4s;
}

.explore-btn a {
    font-family: "Syne", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
}

.explore-btn i {
    font-size: 20px;
    transform: rotate(-45deg);
    margin-left: 10px;
}

.explore-btn:after {
    position: absolute;
    content: "";
    top: 11px;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #f08143;
    border-radius: 50%;
    margin-left: -7px;
}

.explore-btn:hover {
    background: #061815;
    border-color: #061815;
}


/* testimonial section */

.testimonial-section {
    height: auto;
}

.testimonial-author-wrap {
    margin-top: 30px;
}

.single-testimonial-author {
    background: #185a66;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active{
    background: #f08143;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
    opacity: 1;
}

.testimonial-thumb img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonial-content {
    padding-left: 15px;
}

.testimonial-content h6 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.testimonial-content p {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.testimonial-slider-wrap {
    display: flex;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

.testimonal-thumb {
    flex: 0 0 240px;
}

  .testimonial-slide-inner {
    display: inline-flex !important;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    width: 896px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
}

.testimonal-slider-content h6 {
    color: #061815;
    font-size: 24px;
}

.testimonal-slider-content p.designation {
    color: #185a66;
}

.testimonal-review-wrap {
    display: inline-block;
    padding: 0 0 0 15px;
    background: #185a66;
    color: #fff;
    margin-top: 10px;
}

.testimonal-review-wrap i {
    font-size: 20px;
    margin-right: 5px;
}

.testimonal-review-wrap span {
    background: #f08143;
    padding: 14px;
    font-size: 20px;
    color: #444;
    font-weight: 600;
}

.swiper-button-next, .swiper-button-prev{
    color: #f08143;
    margin-top: 0;
}


/* client section */

.clients-area.pb-120 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    background-color: #fff;
}


.client-logo-wrap {
    text-align: center;
}

.client-logo-wrap img {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 10px;
}


/* contact section */

.contact-area {
    position: relative;
    z-index: 1;
}
/* 
.contact-area::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    background: #fff;
} */

.contact-section-inner {
    position: relative;
    background-image: url('images/contact_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
}

.contact-section-inner h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 30px 0;
}

.contact-section-inner h5 {
    font-size: 18px;
    margin-bottom: 35px;
}

.main-btn, .main-btn.white {
    display: inline-block;
    background: #f08143;
    color: #061815;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 15px 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.main-btn:hover{
    background-color: #185a66;
    color: #fff;
}



/* footer section */


.footer-area {
    position: relative;
}

p.company-desc {
    margin: 30px 0;
}

.support-info {
    display: flex;
}

.support-icon i {
    font-size: 50px;
    color: #185a66;
}

.support-content {
    padding-left: 15px;
}

.support-content h6 {
    color: #061815;
}

.support-content p {
    margin: 5px 0;
}

.footer-widget h5 {
    font-size: 26px;
    margin-bottom: 40px;
}

.footer-widget ul li {
    display: block;
    margin-bottom: 20px;
}

.footer-widget ul li i {
    font-size: 14px;
    color: #f08143;
    margin-right: 10px;
}

.footer-widget ul li a {
    font-size: 17px;
    font-weight: 400;
    color: #061815;
}


.footer-widget .social-icon i{
    color: #051816;
}

.founder-year-wrap span {
    font-family: "Syne", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    background-color: #061815;
    background-image: url('images/trans-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-right: 20px;
    letter-spacing: 2px;
    margin: 50px 0;
}

.footer-navbar {
    margin-bottom: 60px;
}

li {
    display: inline-block;
}

.footer-navbar ul li a {
    font-family: "Syne", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #061815;
    margin-right: 15px;
    margin-left: 15px;
}

.footer-shape {
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-shape {
    -webkit-animation: bounce-left-right 2s ease-in-out 0s infinite alternate;
    animation: bounce-left-right 2s ease-in-out 0s infinite alternate;
}


/* footer bottom section */

.footer-bottom {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-bg {
    background: #f08143;
}

.footer-bottom p {
    color: #061815;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

/* fade effects */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.reveal{
    /* position: relative; */
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fadeInUp {
    animation: fadeInUp .5s ease-in;
    animation-fill-mode: both;
  }

.active.fadeInLeft {
    animation: fadeInLeft .5s ease-in;
    animation-fill-mode: both;
  }

.active.slideInDown {
    animation: slideInDown .5s ease-in;
    animation-fill-mode: both;
  }


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounce-left-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}



/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}
/* mobile menu css */

.hamburger {
    position: absolute;
    top: 10px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: #185a66;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:0.8em; width:100%; background:#185a66;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:15px 0 15px 0;}
.menu li:hover{display: block;    background:#185a66; padding:15px 0 15px 0;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:#fff;}
.menu a:hover{text-decoration:none; color:#185a66;}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 15px;
}

.menu ul .nav__link {
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #185a66;
  color: #fff;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}


.hamburger, .cross, .menu{
  display: none;
}


/************* POPUP FORM ***********/



/*************** MEDIA QUERIES **************/

@media screen and (max-width:768px) {


    /* common css */


    .hamburger, .cross, .menu{
        display: block;
      }

    h1{
        font-size: 34px;
        line-height: 34px;
    }
    
    h3 {
        font-size: 28px;
    }

    .section-padding{
        padding: 30px 0px;
    }

    p{
        font-size: 14px;
        line-height: normal;
        text-align: justify;
    }

    /* header css */

    .header-area, .header-top-area, .client-area{
        display: none;
    }

    .header-info{
        justify-content: center;
    }

    .header-info p{
        font-size: 12px;
    }

    .contact-info a {
        padding: 3px 10px;
        font-size: 12px;
    }

    .social-icon{
        text-align: center;
    }

    .mobile-header{
        padding: 10px 0px;
        display: block;
    }

    .mobile-menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-logo img{
        width: 30px;
    }

    
    /* hero css */

    .hero-area-content {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .hero-area-content h1 {
        margin-top: 15px;
    }

    .hero-area-content p {
        padding-left: 0;
        margin-top: 0;
        padding-right: 0;
        font-size: 14px;
        line-height: 1.3;
    }

    .hero-area-content a {
        font-size: 14px;
    }

    .slider-bg {
        min-height: 300px;
    }

    .homepage-slides{
        margin-bottom: 0 !important;
    }

    .homepage-slides .owl-dots {
        margin: 0px;
        right: 25px;
    }

    .homepage-slides .owl-dots button {
        width: 10px;
        height: 10px;
        margin: 7px;
    }

    .section-title{
        margin-bottom: 15px;
    }

    .section-title h2 {
        font-size: 32px;
        line-height: 37px;
    }

    .section-title a {
        font-size: 34px;
        line-height: 37px;
    }

    .section-title a:before {
        display: none;
    }

    .service-content-wrap{
        margin-top: 30px;
    }
  

    .single-service-inner h5 a {
        font-size: 18px;
    }

    .single-service-inner p {
        font-size: 14px;
        line-height: normal;
        margin: 20px 0;
        padding-right: 0;
    }

    .single-service-wrap{
        max-width: max-content;
    }

    .single-service-inner .details-link {
        width: 20px;
        height: 20px;
    }

    .single-service-inner .details-link i {
        font-size: 14px;
    }

    .section-title h6 {
        font-size: 18px;
        font-weight: 500;
        line-height: 12px;
        padding: 5px 10px;
        margin-bottom: 15px;
    }

    .service-content-wrap p {
        font-size: 14px;
        margin-top: 0;
        line-height: normal;
    }

    .service-bg .more-service-btn {
        padding: 5px;
        font-size: 13px;
    }

    /* service section end */

        /* counter section start */

        .single-counter-box p.counter-number {
            font-size: 24px;
            line-height: normal;
            font-weight: 500;
            margin: 0;
            text-align: center;
        }
    
        .single-counter-box h6 {
            font-size: 16px;
            line-height: normal;
        }
    
        .counter-area .row{
            gap: 20px;
            justify-content: center;
        }
    
        /* counter section end */

    /* about section start */

    .about-bg-one {
        min-height: 650px;
        max-width: calc(100% - 0px);
    }

    .about-content-wrap {
        margin-top: 45px;
    }

    .about-content-wrap p {
        font-size: 14px;
        margin: 20px 0;
    }

    .about-bg-two {
        min-height: 650px;
        margin-top: 0;
    }

    /* about section end */

    /* cta section start*/

    .pt-150 {
        padding-top: 60px;
    }

    .cta-area-inner p {
        margin-top: 35px;
    }

    .explore-btn {
        left: 100px;
        bottom: -15px;
    }
        
    /* cta section end*/

    /* testimonial section start */

    .testimonial-slide-inner {
        width: auto;
    }

    .testimonial-slider-wrap {
        margin-left: 0;
        margin-right: 0;
    }

    /* testimonial section end */

    /* footer section start */

    .footer-widget h5 {
        display: none;
    }

    .footer-shape img{
        width: 65%;
    }

    .founder-year-wrap span{
        margin: 35px 0px;
    }

    .social-icon{
        text-align: start;
    }

    /* footer section end */

}

@media screen and (max-width:450px) {

    /* common css */


    .hamburger, .cross, .menu{
        display: block;
      }

    h1{
        font-size: 30px;
        line-height: 34px;
    }
    
    h3 {
        font-size: 18px;
    }

    .section-padding{
        padding: 30px 0px;
    }

    p{
        font-size: 12px;
        line-height: normal;
        text-align: justify;
    }

    /* header css */

    .header-area, .header-top-area, .client-area{
        display: none;
    }

    .header-info{
        justify-content: center;
    }

    .header-info p{
        font-size: 12px;
    }

    .contact-info a {
        padding: 3px 10px;
        font-size: 12px;
    }

    .social-icon{
        text-align: center;
    }

    .mobile-header{
        padding: 10px 0px;
        display: block;
    }

    .mobile-menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-logo a{
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }

    .testimonal-slider-content p.designation{
        text-align: center;
    }

    /* hero css */

    .hero-area-content {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .hero-area-content h1 {
        margin-top: 15px;
    }

    .hero-area-content p {
        padding-left: 0;
        margin-top: 0;
        padding-right: 0;
        font-size: 14px;
        line-height: 1.3;
    }

    .hero-area-content a {
        font-size: 14px;
    }

    .slider-bg {
        min-height: 300px;
    }

    .homepage-slides{
        margin-bottom: 0 !important;
    }

    .homepage-slides .owl-dots {
        margin: 0px;
        right: 25px;
    }

    .homepage-slides .owl-dots button {
        width: 10px;
        height: 10px;
        margin: 7px;
    }

    .section-title{
        margin-bottom: 15px;
    }

    .section-title h2 {
        font-size: 32px;
        line-height: 37px;
    }

    .section-title a {
        font-size: 34px;
        line-height: 37px;
    }

    .section-title a:before {
        display: none;
    }

    /* feature section  */

    .feature-item-wrap {
        padding: 20px;
        padding-top: 30px;
    }

    .feature-item-wrap .feature-icon {
        width: 50px;
        height: 50px;
        top: -30px;
    }

    .feature-item-wrap .feature-content h4 {
        font-size: 18px;
    }

    .feature-item-wrap .feature-content p {
        font-size: 12px;
        margin-top: 10px;
        line-height: 0;
    }

    .feature-section .row:nth-child(2){
        gap: 40px;
    }

    .feature-section:before, .feature-item-wrap::after{
        display: none;
    }

    /* feature section end */

    /* service-section */

    .service-section, .service-content-wrap{
        margin-top: 30px;
    }

    .single-service-inner h5 a {
        font-size: 18px;
    }

    .single-service-inner p {
        font-size: 12px;
        line-height: normal;
        margin: 10px 0;
        padding-right: 0;
    }

    .single-service-wrap{
        max-width: max-content;
    }

    .single-service-inner .details-link {
        width: 20px;
        height: 20px;
    }

    .single-service-inner .details-link i {
        font-size: 14px;
    }

    .section-title h6 {
        font-size: 14px;
        font-weight: 500;
        line-height: 12px;
        padding: 5px 10px;
        margin-bottom: 15px;
    }

    .service-content-wrap p {
        font-size: 12px;
        margin-top: 0;
        line-height: normal;
    }

    .service-bg .more-service-btn {
        padding: 5px;
        font-size: 13px;
    }

    /* service section end */

    /* client section start */
    
    .client-logo-wrap img{
        margin-bottom: 10px;
    }

    /* client section end */

    /* counter section start */

    .single-counter-box p.counter-number {
        font-size: 16px;
        line-height: normal;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }

    .single-counter-box h6 {
        font-size: 14px;
        line-height: normal;
    }

    .counter-area .row{
        gap: 20px;
    }

    /* counter section end */


    /* about section start */

    .about-tag-title {
        left: -230px;
        padding: 12px;
    }

    .about-bg-one {
        min-height: 500px;
        max-width: 100%;
    }

    .about-tag-title h4 {
        line-height: normal;
        font-size: 14px;
    }

    .about-content-wrap {
        margin-top: 35px;
    }

    .about-content-wrap p {
        font-size: 12px;
        margin-top: 0;
        line-height: normal;
    }
    .about-feature-list ul li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .about-feature-list ul li i {
        font-size: 9px;
        margin-right: 10px;
        padding: 2px 2px;
        border-radius: 50%;
    }

    .about-bg-two {
        min-height: 500px;
        margin-top: 0;
    }

    /* about section end */

    /* cta section start */

    .cta-area-inner p {
        margin-top: 30px;
    }

    .pt-150{
        padding-top: 0;
    }

    .explore-btn {
        width: 130px;
        height: 130px;
        padding: 30px;
        left: 150px;
        bottom: 0px;
    }

    .explore-btn a {
        font-size: 12px;
        margin-top: 20px;
        line-height: 20px;
    }
    /* cta section end */


    /* testimonial section start */

    .single-testimonial-author{
        flex-direction: column;
        padding: 0 !important;
        padding-top: 10px !important;
    }

    .testimonial-content{
        padding-left: 0;
    }

    .testimonial-content h6 {
        font-size: 12px;
        text-align: center;
        font-weight: 500;
    }

    .testimonial-content p {
        font-size: 11px;
        text-align: center;
        line-height: normal;
    }

    .testimonial-slider-wrap{
        margin-left: 0;
        margin-right: 0;
    }

    .testimonial-slide-inner {
        flex-direction: column;
        width: auto;
        text-align: center;
        gap: 15px;
    }

    .testimonal-slider-content h6 {
        font-size: 18px;
    }

    .testimonal-review-wrap span {
        padding: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .testimonal-review-wrap i {
        font-size: 14px;
        margin-right: 5px;
    }

    /* testimonial section end */

    /* contact area section start */

    .contact-section-inner h2 {
        font-size: 28px;
        font-weight: 600;
        margin: 25px 0;
    }

    .contact-section-inner h5 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .main-btn, .main-btn.white {
        font-size: 14px;
        line-height: 16px;
        padding: 5px 15px;
    }
    /* contact area section end */

    /* footer section start */

    .footer-area .row{
        gap: 20px;
    }

    .support-info{
        justify-content: center;
        align-items: center;
    }

    .support-icon i {
        font-size: 18px;
    }

    .support-content p {
        margin: 3px 0;
    }

    p.company-desc {
        margin: 15px 0;
    }

    .footer-widget h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .footer-widget ul li {
        margin-bottom: 5px;
    }

    .footer-widget ul li i {
        display: none;
    }

    .footer-widget ul li a {
        font-size: 12px;
        line-height: normal;
    }

    .footer-widget .logo{
        text-align: center;
    }

    .services-list, .footer-contact-info, .project-gallery{
        text-align: center;
    }

    .founder-year-wrap span {
        font-size: 32px;
        line-height: 35px;
        padding-right: 0;
        letter-spacing: 2px;
        margin: 30px 0;
    }

    .footer-shape{
        display: none;
    }

    .footer-navbar {
        margin-bottom: 30px;
    }

    .footer-navbar ul li a {
        font-size: 14px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .footer-contact-info p{
        margin-bottom: 5px;
        text-align: center;
    }

    .footer-bottom p {
        font-size: 12px;
    }
    /* footer section end */
}


/*popup css starts here*/
.modal-popup-container {
    position: fixed;
    left: 50%;
    height: 100vh;
    width: 100%;
    max-width: 1600px;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    z-index: 999;
    transform: translateX(-50%);
  }
  
  .modal-popup-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* For older versions of Safari */
    z-index: -1;
  }
  
  .video-auto-play-container {
    margin: 0px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 30%;
      background: #fff;
      padding: 25px;
      border-radius: 12px;
      z-index: 9999;
      height: calc(100vh - 160px);
      position: relative;
  }
  
  .left-video-container {
    /* width: 100%; */
    width: 90%;
  }

  .left-video-container p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  
  .left-video-cont-head {
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
  }
  
  .left-video-cont-desc {
    line-height: 27px;
    font-size: 16px;
    color: #1B1C1D;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  
  .left-video-cont-anchor {
    color: #0D274D;
    font-size: 14px;
    border: 1px solid #0D274D;
    width: max-content;
    padding: 8px 23px;
    border-radius: 50px;
    font-family: 'CiscoSansTTRegular';
  }
  
  .left-video-cont-anchor:hover{
    color: #fff;
    background-color: #0076D5;
    border-color: #0076D5;
    transition: 0.3s ease-in;
  }
  
  /* .video-auto-play-btn {
    color: #000;
  } */
  .video-auto-play-btn {
    background: none;
      padding: 10px 32px;
      border-radius: 30px;
      cursor: pointer !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 99 !important;
      border: none;
  }
  
  /* .video-auto-play-btn:hover {
    color: #fff;
    background: #0051AF;
    border-color: #0051AF;
    transition: 0.3s ease-in;
  } */
  
  .video-auto-play-container video {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  }
  
  .right-video-container {
    position: relative;
    /* width: 100%; */
    width: 90%;
    margin-top: 20px;
  }
  
  /* .right-video-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3px;
    left: 0px;
    border-radius: 5px;
  } */

  input, textarea, select {
    width: 100%;
    background: transparent;
    border: 1px solid #eee;
    padding: 15px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
}

    button, input, textarea, a:hover, a:focus, a:visited {
        text-decoration: none;
        outline: none;
        outline-width: 0 !important;
    }

    .right-video-container input {
        border-radius: 0;
        margin-bottom: 25px;
    }

    .right-video-container input[type=submit] {
        margin-top: 20px;
        background-color: #f08143;
    }

  
  .right-video-container.active .vidSection2 {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  
  .right-video-container.active {
    z-index: 9999;
    position: relative;
  }
  
  /* .left-video-container img.play-btn-anchor {
    cursor: pointer;
  } */
  
  .vidOvelay2,
  .vidSection2 {
    display: none;
  }
  
  /* .left-video-container.member.active .vidOvelay {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.94);
    width: 100%;
    height: 100%;
  } */
  
  .right-video-container.active .vidOvelay2 {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  
  .right-video-container.active .vidSection2 {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .closeX2:hover {
    color: #fff;
  }
  
  .right-video-container.active .vidSection2 .vidHolder2 {
    width: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    text-align: center;
  }
  
  .right-video-container.active .vidSection2 .vidHolder2 .closeX2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    line-height: normal;
  }
  
  .right-video-container.active .vidSection2 .vidHolder2 .closeX2:hover {
    color: #fff;
  }
  
  
  #closeModalButton {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 12px;
    right: 15px;
  }
  
  .modal-close-img {
    width: 16px;
  }
  
  #showModalButton {
    position: fixed;
    top: 263px;
    right: -61px;
    z-index: 998;
    border: none;
    transform: rotateZ(-90deg);
    background: #00BCEB;
    padding: 9px 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  
  .modal-open {
    overflow: hidden !important;
  }